<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template</title>
    <%- include('./style.html') %>
</head>
<header>
    <a href = "/"><img src="https://cdn-icons-png.flaticon.com/512/2116/2116870.png" alt=""></a>
    <h2>[ EXPRESS TEMPLATE SITE ]</h2>
    <nav>
        <ul>
                <li><a href = "http://localhost:3000/new">NEW</a></li>
                <li><a href = "http://localhost:3000/">LIST ALL</a></li>
            <% if(typeof user === 'undefined') { %>
                <li><a href = "http://localhost:3000/signUp">SIGN-UP</a></li>
                <li><a href = "http://localhost:3000/login">LOG IN</a></li>
            </ul>
            <% } else { %>
            <li><a href = "http://localhost:3000/logout">LOG OUT</a></li>
            
        </ul>
        <a href="http://localhost:3000/profile"><div class="profile"><%= user[0] %></div></a>
            <% } %>
        
    </nav>
</header>